.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: white;
}

.title {
  font-family: 'Slabo 27px', serif;
  color: white;
  text-decoration: none;
}

.App-header {
  background-color: #111;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
